.text-div {
  width: 100%;
  cursor: text;
}

.blue-color {
  color: #3565a9 !important;
}

.bg-green {
  background-color: #d9f9e6 !important;
}

.green-color {
  color: #347659 !important;
}

.grey-color {
  color: #9c9c9c !important;
}

.p-1 {
  padding: 1em;
}

.p-0125 {
  padding: 0.125em;
}

.ml-0 {
  margin-left: 0px !important;
}

.mt-05 {
  margin-top: 0.5em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.rounded {
  border-radius: 0.5em;
}

.text-bold {
  font-weight: 700 !important;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.list-style-none {
  list-style-type: none;
}

.justify-content-between {
  justify-content: space-between;
}

.p-0 {
  padding: 0;
}

header {
  align-items: center;
  font-size: 1em;
  color: #9c9c9c;
}

#site-map > ul {
  display: flex;
  margin: 0;
  padding: 0;
}

#site-map > ul > li {
  margin-left: 0.5em;
}

#site-map > ul > li:before {
  content: "/";
}

#site-map > ul :nth-child(-n+2):before {
  content: "";
}

#site-map > ul > li > span {
  margin-left: 0.5em;
}

#site-map > ul :nth-child(1) > span {
  margin-left: 0;
}

#operations > ul > li {
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}

#operations > ul > li:before {
  content: "|";
}

#operations > ul :nth-child(1):before {
  content: "";
}

#operations > ul > li > span {
  margin-left: 0.5em;
}

main {
  width: auto;
  padding: 2em;
  margin: 1em;
  align-items: center;
}

#info-bar {
  border: 1px;
  border-style: solid;
  border-color: #9c9c9c;
  border-radius: 0.5em;
  width: 60%;
  padding: 0.25em;
  font-size: 0.85em;
  color: #9c9c9c;
}

#user-details {
  display: flex;
  margin: 0px;
  font-size: 1.125em;
 }

#user-details > ul {
  margin: 0px;
 }

#user-details > ul > li {
  margin-left: 0.5em;
  display: flex;
  align-items: center;
 }

#user-details > ul > li * {
  margin-left: 0.5em;
}

#user-details > ul > li > img {
  width: 2.5em;
  height: 2.5em;
  border-radius: 2em;
}

#user-details > ul > li:before {
  content: "|";
}

#user-details > ul :nth-child(1):before {
  content: "";
}

#options > ul > li {
  margin-right: 0.5em;
}

#added-content {
  width: 80%;
  margin-top: 1em;
}

#added-content * {
  color: '#000000';
  font-size: 1em;
  margin: 0;
  margin-top: 0.5em;
  height: 2em;
}

#added-content h1 {
  font-size: 2em;
  margin: 0;
  margin-top: 0.5em;
}

.block {
  display: block;
  width: 100%;
  border: none;
}

.block:focus {
  display: block;
  width: 100%;
  outline: none;
}

#suggestions-section {
  position: relative;
  width: 80%;
}

#suggestions-block {
  width: fit-content;
  border: 1px;
  border-style: solid;
  border-color: #9c9c9c;
  border-radius: 0.5em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#suggestions-block * {
  margin: 0px;
  padding: 0.25em;
}

.counter {
  background-color: #3565a9;
  color: #fff;
  border-radius: 0.125em;
}

.sub-text {
  font-size: 0.75em;
}

.selectable {
  cursor: pointer;
}

.selectable:hover {
  background-color: #e0e0e0;
}
